@charset "utf-8";

.button-group {
    display: flex;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.task-item {
    display: flex;
    gap: 10px;
}

.task-show {
    margin-bottom: 0;
    padding-bottom: 20px;
}
